<ul class="list-unstyled m-1 d-flex">
    <li>
        <a href="{% url 'substation:substations' %}"  
           class="fw-bold text-white border border-dark p-2 mx-3 rounded fs-5">
            Підстанції
        </a>
    </li>

    <li>
        <a href="{% url 'node:search_node' %}"  
           class="fw-bold text-white border border-dark p-2 mx-3 rounded fs-5">
            Знайти вузол
        </a>
    </li>
    
     <li>
        <a href="{% url 'node:pre_change_data' %}"  
           class="fw-bold text-white border border-dark p-2 mx-3 rounded fs-5">
           Додати/Оновити двигун/вузол
        </a>
    </li>
</ul>