<ul class="list-unstyled m-1 d-flex">
    
    {% if user.is_authenticated %}
    <li>
        <a href="{% url 'substation:substations' %}"  
           class="fw-bold text-white border border-dark p-2 mx-3 rounded fs-5">
            Підстанції
        </a>
    </li>

    <li>
        <a href="{% url 'node:search_node' %}"  
           class="fw-bold text-white border border-dark p-2 mx-3 rounded fs-5">
            Знайти вузол
        </a>
    </li>

    <li>
        <a href="{% url 'node:get_level_nodes' %}"  
           class="fw-bold text-white border border-dark p-2 mx-3 rounded fs-5">
           Вузли на відмітці
        </a>
    </li>

    <li>
        <a href="{% url 'node:motors_list' %}"  
           class="fw-bold text-white border border-dark p-2 mx-3 rounded fs-5">
            Список двигунів
        </a>
    </li>

        {% if employee_info.role == 'Engineer' %}
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle border border-dark" type="button" 
                    id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Опції інженера
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="{% url 'node:pre_change_data' %}">Додати/Оновити/Видалити двигун/вузол</a></li>
            <li><a class="dropdown-item" href="{% url 'users:electricians_list' %}">Список електриків</a></li>
            <li><a class="dropdown-item" href="{% url 'task:create_task' %}">Створити завдання</a></li>
            </ul>
        </div>
        
        {% endif %}
    {% endif %}

    {% comment %} {% if user.is_authenticated and user.role == 'Engineer' %}
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle border border-dark" type="button" 
                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Опції інженера
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="{% url 'node:pre_change_data' %}">Додати/Оновити/Видалити двигун/вузол</a></li>
          <li><a class="dropdown-item" href="{% url 'users:electricians_list' %}">Список електриків</a></li>
          <li><a class="dropdown-item" href="{% url 'task:create_task' %}">Створити завдання</a></li>
        </ul>
    </div>
    
    {% endif %} {% endcomment %}
</ul>