{% extends "substation/base.html" %}

{% block title %}{{ substation.title }}{% endblock %}

{% block content_area %}
    <div class="col-12">
        <h2 class="text-center text-uppercase color2 my-4">{{ substation.title }}</h2>
    </div>

    <div class="row mb-5">
    {% for mcc in mccs %}
        <div class="col-md-6 col-sm-12 text-white">
            <h4 class="text-center border border-dark border-4 p-1">
                <a href="{% url 'mcc:mcc_detail' mcc_slug=mcc.slug %}" 
                   style="text-decoration: none; color: white;">
                    {{ mcc.title }}
                </a>
            </h4>
        </div>
    {% endfor %}
    </div>

{% endblock %}
