{% extends 'users/base_users.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="col-md-6 mt-5">
        <button onclick="window.history.back();" class="btn btn-info rounded">&larr; НАЗАД</button>
    </div>
    
    <div class="container my-3">
        <h4 class="mt-4">{{ title }} для {{ employee }}</h4>
    </div>
  
    <div class="text-white">
        <ul class="list-unstyled">
            {% for task in tasks %}
                <div class="bg-dark m-2 p-2 rounded">
                    <li>{{ task.doer }}</li>
                    <li>Створено: {{ task.created_at }}</li>
                    <li class="my-1 p-1 bg-secondary rounded">
                        {{ task.task_description }}
                    </li>
                    <li>Закінчити до: {{ task.deadline }}</li>
                    <li>
                        Статус: 
                            <a class="btn btn-primary" href="{% url 'main_page' %}">
                                {{ task.get_status_display }}
                            </a> 
                    </li>
                </div>
                
            {% empty %}
                <li>Завдання не поставлено.</li>
            {% endfor %}
        </ul>
    </div>

    
{% endblock %}