<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Elevator{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body>

    <div class="container-fluid">

        <header class="bg-warning text-white text-center p-2 position-fixed d-flex w-100 rounded
                       justify-content-end" 
                style="top: 0; z-index: 1030;">
            <h2 class="text-dark mr-5">Відділ Головного Енергетика</h2>
            <div class="d-flex ml-5">
                {% if user_info %}
                    <h5 class="justify-content-end">
                        <a href="{{ user_profile_url }}" 
                        class="p-1 m-1 border-dark fw-bold text-primary">
                            {{ user.first_name }} {{ user.last_name }}
                        </a> | <a href="{{ user_logout_url }}">Вийти</a>
                    </h5>
                {% else %}
                    <h5 class="m-auto">
                        <a href="{% url 'users:login' %}">Увійти</a> | <a href="{% url 'users:register' %}">Реєстрація</a>
                    </h5>
                {% endif %}
                <p class="position-relative top-50 end-0 p-1 border-dark 
                          border border-2 rounded fw-bold text-primary m-1">
                    <a href="{{ home_url }}" type="button">
                        На головну
                    </a>
                </p>
            </div>
            {% block header %}
                        
            {% endblock %}
        </header>

        <nav class="navbar navbar-expand-lg navbar-success bg-primary position-fixed w-100 rounded mb-2" 
             style="top: 60px; z-index: 1020;">
            
             <ul class="list-unstyled m-1 d-flex">
                <li>
                    <a href="{% url 'substation:substations' %}"  
                       class="fw-bold text-white border border-dark p-2 mx-3 rounded fs-5">
                        Підстанції
                    </a>
                </li>
                <li>
                    <a href="{% url 'node:create_node_motor' %}"  
                       class="fw-bold text-white border border-dark p-2 mx-3 rounded fs-5">
                        Додати вузол
                    </a>
                </li>
                <li>
                    <a href="{% url 'substation:substations' %}"  
                       class="fw-bold text-white border border-dark p-2 mx-3 rounded fs-5">
                        Знайти вузол
                    </a>
                </li>
            </ul>
           
            {% block navbar %}{% endblock %}
        </nav>

        <div class="container mt-5 pt-5">
            
            <div class="row justify-content-center">
                <div class="col-md-8">
                    {% block content %}{% endblock %}
                </div>
            </div>
            
        </div>

    </div> 

</html>
