{% extends "substation/base.html" %}

{% block title %}Додати двигун{% endblock %}

{% block content_area %}
    <div class="col-12">
        <h5 class="text-center text-uppercase p-1">
            Спочатку додайте двигун вузла, якщо потрібно. Або перейдіть на сторінку додавання вузла.
        </h5>
    </div>
    <div class="col-12 my-4">
        <a href="{% url 'node:create_node' %}" 
           class="text-white border border-dark border-4 p-2 rounded">
            Перейти на сторінку додавання вузла  
        </a>
    </div>
    <div class="container justify-content-center">
        <div class="row mb-5">
            <div class="col-md-6 col-sm-12">
            <form method="post" action="">
                {% csrf_token %} 

                {% if form.errors %}
                    <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {{ form.as_p }}

                <button type="submit">Додати двигун</button>
            </form>
            </div>
        </div>
    </div> 

{% endblock %}